<div class="circle-menu-container">
    <div>
        <svg
            [attr.viewBox]="'0 0 ' + size + ' ' + size"
            xmlns="http://www.w3.org/2000/svg"
            [ngStyle]="{
                width: size + 'px',
                height: size + 'px',
            }">
            <!-- Render each section dynamically -->
            <g *ngFor="let section of sections; let sectionIndex = index">
                <path
                    *ngIf="section.visible"
                    [attr.d]="calculatePath(sectionIndex)"
                    [attr.fill]="
                        hoveredSection === sectionIndex ? 'rgba(230, 230, 230, 1)' : 'rgba(255, 255, 255, 1)'
                    "
                    stroke="#000"
                    stroke-width="2"
                    (mouseenter)="onHover(sectionIndex)"
                    (click)="onClick(sectionIndex)"
                    (mouseleave)="onLeave()"></path>
                <image
                    *ngIf="section.visible"
                    [attr.href]="section.image"
                    [attr.x]="calculateImagePosition(sectionIndex).x"
                    [attr.y]="calculateImagePosition(sectionIndex).y"
                    (mouseenter)="onHover(sectionIndex)"
                    (click)="onClick(sectionIndex)"
                    (mouseleave)="onLeave()"
                    width="40"
                    height="40"
                    preserveAspectRatio="xMidYMid meet" />
            </g>
        </svg>
    </div>
</div>
