<div
    class="canvas-container"
    [class.small]="size === 'small'">
    <canvas
        #canvas
        width="190"
        [attr.height]="size === 'small' ? 100 : 200"
        (pointerdown)="startDrawing($event)"
        (pointermove)="draw($event)"
        (pointerup)="stopDrawing()"
        (pointerleave)="stopDrawing()"></canvas>
    <div
        class="controls"
        *ngIf="!hideTools">
        <button
            ellipso-icon-button
            (click)="setToDrawMode()">
            <ellipso-icon>stylus</ellipso-icon>
        </button>
        <button
            ellipso-icon-button
            (click)="setToEraseMode()">
            <ellipso-icon>ink_eraser</ellipso-icon>
        </button>
        <button
            ellipso-icon-button
            (click)="clearCanvas()">
            <ellipso-icon class="error">delete_forever</ellipso-icon>
        </button>
    </div>
</div>
