<div
    class="viewport-container"
    (pointerdown)="onPanStart($event)"
    (pointermove)="onPanMove($event)"
    (pointerup)="onPanEnd($event)"
    (pointerleave)="onPanEnd($event)"
    (pointercancel)="onPanEnd($event)"
    (pointerout)="onPanEnd($event)">
    <div
        #viewport
        class="viewport-content"
        [ngStyle]="{
            transform: 'translate(' + offsetX + 'px, ' + offsetY + 'px) scale(' + scale + ')',
        }">
        <app-draw-canvas
            *ngIf="showDrawCanvas"
            (lock)="setLocked($event)"
            [drawType]="drawType" />
        <app-context-menu
            *ngFor="let contextMenu of menues; let i = index"
            (closed)="this.removeContextMenu(i)"
            (addItem)="this.onAddItem($event)"
            (showDrawCanvas)="showDrawCanvas = true"
            [menu]="contextMenu"
            [allItems]="this.items"
            [class.rotated]="contextMenu.y < windowHeight / 2"
            [ngStyle]="{
                position: 'absolute',
                'top.px': contextMenu.y,
                'left.px': contextMenu.x,
            }"></app-context-menu>
        <img
            src="Roomplan.png"
            width="1160"
            style="margin-left: 20px; pointer-events: none" />
        <app-item-object
            *ngFor="let item of items; let i = index"
            [item]="item"
            (delete)="onDeleteItem(i)"
            (duplicate)="onDuplicateItem(i)"
            class="draggable-item"
            [ngStyle]="{
                left: item.x + 'px',
                top: item.y + 'px',
            }"
            [class.rotated]="item.y < windowHeight / 2"
            (hold)="onTouchStart($event, i)"
            (move)="onTouchMove($event, i)"
            (release)="onTouchEnd($event, i)" />

        <!-- (mousedown)="onDragStart($event, i)" -->
        <!-- (pointerdown)="onDragStart($event, i)" -->
    </div>
</div>
