<div
    class="smarttable"
    [ngStyle]="{
        transform: 'rotate(' + rotation + 'deg)',
        zoom: zoom * 100 + '%',
    }">
    <div
        class="smarttable-expand-menu"
        [class.active]="menu !== 'smarttable'">
        <button
            ellipso-icon-button
            class="expand-menu-back-button"
            (click)="menu = 'start'"
            *ngIf="menu !== 'start' && menu !== 'smarttable'">
            <ellipso-icon>arrow_back</ellipso-icon>
        </button>
        <button
            ellipso-icon-button
            *ngIf="menu === 'smarttable'"
            (click)="menu = 'start'; step = 'edit'">
            <ellipso-icon>menu</ellipso-icon>
        </button>
        <ng-container *ngIf="step === 'edit' && menu !== 'smarttable'">
            <button
                ellipso-icon-button
                type="button"
                (click)="onRemoveZoom()"
                title="Less Zoom">
                <ellipso-icon> remove </ellipso-icon>
            </button>
            <button
                ellipso-icon-button
                type="button"
                (click)="onAddZoom()"
                title="More Zoom">
                <ellipso-icon> add </ellipso-icon>
            </button>
            <button
                ellipso-icon-button
                type="button"
                (click)="onRotateScreen()"
                title="Rotate Screen 180°">
                <ellipso-icon> screen_rotation </ellipso-icon>
            </button>
            <button
                ellipso-icon-button
                type="button"
                (click)="onToggleFullScreen()"
                title="Fullscreen Mode">
                <ellipso-icon>
                    {{ isFullScreen ? 'fullscreen_exit' : 'fullscreen' }}
                </ellipso-icon>
            </button>
            <button
                ellipso-icon-button
                (click)="onTogglePanAndZoom()"
                title="Toggle Pan and Zoom">
                <div
                    class="button-crossed-out"
                    *ngIf="!isPanAndZoomEnabled"></div>
                <ellipso-icon> drag_pan </ellipso-icon>
            </button>
        </ng-container>
        <button
            ellipso-icon-button
            class="expand-menu-close-button"
            *ngIf="step !== 'start'"
            (click)="menu = 'smarttable'">
            <ellipso-icon>close</ellipso-icon>
        </button>
        <div
            class="start-menu"
            *ngIf="menu === 'start'">
            <div class="menu-card">
                <h2>Welcome!</h2>
                <div class="menu-list">
                    <div
                        class="menu-item"
                        tabindex="0"
                        (click)="menu = 'import-room'">
                        <ellipso-icon>download</ellipso-icon>
                        Import Room
                    </div>
                    <div
                        class="menu-item"
                        (click)="menu = 'import-room'">
                        <ellipso-icon>upload</ellipso-icon>
                        Export Room
                    </div>
                    <div class="menu-item">
                        <ellipso-icon>description</ellipso-icon>
                        Instructions & Notes
                    </div>
                    <div class="menu-item">
                        <ellipso-icon>chair</ellipso-icon>
                        List of Objects
                    </div>
                    <div class="menu-item">
                        <ellipso-icon>group</ellipso-icon>
                        List of Members
                    </div>
                </div>
            </div>
        </div>
        <div
            class="import-room-menu start-menu"
            *ngIf="menu === 'loading'">
            <div class="loading-screen">
                <ellipso-icon>hourglass_empty</ellipso-icon>
                Loading Room...
            </div>
        </div>
        <div
            class="import-room-menu start-menu"
            *ngIf="menu === 'import-room'">
            <div class="menu-card">
                <h2>Import a Room!</h2>
                <div class="menu-list">
                    <div
                        class="menu-item import-room-menu-item"
                        (click)="loadTable()">
                        <img
                            class="img"
                            src="/Roomplan.png" />
                    </div>
                </div>
                <button
                    style="width: 100%; margin-top: 8px"
                    ellipso-ghost-button>
                    Browse Files
                </button>
            </div>
        </div>
    </div>

    <!--
    <div class="smarttable-toolbar">
        <div class="flex-row">
            <button
                ellipso-ghost-button
                type="button"
                title="Import Objects">
                <ellipso-icon
                    class="main-icon2"
                    style="color: green">
                    download
                </ellipso-icon>
                <div class="button-icons">
                    <ellipso-icon> chair_alt </ellipso-icon>
                    <ellipso-icon> table_bar </ellipso-icon>
</div>
</button>
<button
    ellipso-ghost-button
    type="button"
    title="Export">
    <ellipso-icon
        class="main-icon"
        style="color: purple">
        upload
    </ellipso-icon>
</button>
<button
    ellipso-ghost-button
    type="button"
    (click)="onRotateScreen()"
    title="Rotate Screen 180°">
    <ellipso-icon
        class="main-icon"
        style="font-size: 3rem !important">
        screen_rotation
    </ellipso-icon>
</button>
<button
    ellipso-ghost-button
    type="button"
    (click)="onToggleFullScreen()"
    title="Fullscreen Mode">
    <ellipso-icon
        class="main-icon"
        style="font-size: 3rem !important">
        {{ isFullScreen ? 'fullscreen_exit' : 'fullscreen' }}
    </ellipso-icon>
</button>
</div>
</div>
    -->
    <!--
    <div class="fixed-pen-selection">
        <button
            ellipso-icon-button
            (click)="onSelectDrawType('lasso')"
            [class.selected]="drawType === 'lasso'">
            <ellipso-icon> lasso_select </ellipso-icon>
        </button>
        <button
            ellipso-icon-button
            (click)="onSelectDrawType('pen')"
            [class.selected]="drawType === 'pen'">
            <ellipso-icon> stylus </ellipso-icon>
        </button>
        <button
            ellipso-icon-button
            (click)="onSelectDrawType('highlighter')"
            [class.selected]="drawType === 'highlighter'">
            <ellipso-icon> ink_highlighter </ellipso-icon>
        </button>
        <button
            ellipso-icon-button
            (click)="onSelectDrawType('eraser')"
            [class.selected]="drawType === 'eraser'">
            <ellipso-icon> ink_eraser </ellipso-icon>
        </button>
    </div>
    -->
    <div class="smarttable-canvas full-height">
        <app-draggable-viewport
            [drawType]="drawType"
            [items]="testobjects"
            [isPanAndZoomEnabled]="isPanAndZoomEnabled" />
    </div>
</div>
