<div class="smarttable" [ngStyle]="{
    transform: 'rotate(' + rotation + 'deg)'
}">
    <div class="smarttable-toolbar">
        <button ellipso-ghost-button type="button" title="Import Objects">
            <ellipso-icon class="main-icon" style="color: green;">
                download
            </ellipso-icon>
            <div class="button-icons">
                <ellipso-icon>
                    table_bar
                </ellipso-icon>
                <ellipso-icon>
                    chair_alt
                </ellipso-icon>
            </div>
        </button>
        <button ellipso-ghost-button type="button" title="Export">
            <ellipso-icon class="main-icon" style="color: purple;">
                upload
            </ellipso-icon>
        </button>
        <button ellipso-ghost-button type="button" (click)="onRotateScreen()" title="Rotate Screen 180°">
            <ellipso-icon class="main-icon" style="font-size: 3rem !important">
                screen_rotation
            </ellipso-icon>
        </button>
        <button ellipso-ghost-button type="button" (click)="onToggleFullScreen()" title="Rotate Screen 180°">
            <ellipso-icon class="main-icon" style="font-size: 3rem !important">
                {{ isFullScreen ? 'fullscreen_exit' : 'fullscreen' }}
            </ellipso-icon>
        </button>
    </div>
    <div class="full-height">

        <app-draggable-viewport />
    </div>

</div>