.item-context-container {
    min-width: 200px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.05);
    background: white;
    border-radius: 12px;
    position: relative;
    animation: fadeIn 0.5s;
    z-index: 3;
}
.item-context-container:has(.menu-element:last-child:hover)::after {
    border-color: var(--background-hover) transparent transparent transparent;
}

.item-context-container::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: var(--background) transparent transparent transparent; /* Adjust colors for the arrow */
    display: block;
}
.item-context-container > .close-button {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}
.item-context-container > .back-button {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}
.item-context-container > button {
    position: absolute;
    background: white;
    cursor: pointer;
    min-width: 32px;
    min-height: 32px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.05);

    width: 32px !important;
    height: 32px !important;
}

.menu-list {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}
.menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    font-size: 0.875rem;
    height: 40px;
    background-color: var(--background);
    > ellipso-icon {
        font-size: 1.2rem;
    }
    &:hover {
        background: var(--background-hover);
    }
    &:active {
        background: var(--background-active);
    }
}
.task-menu-item {
    > .menu-item:nth-child(1) {
        flex: 1;
        display: flex;
        justify-content: start;
    }
    > .menu-item:nth-child(2) {
        flex: 0 0 50px;
        text-align: center;
        border-left: 1px dashed var(--border);
    }
}
.menu-list {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}
.menu-item-group {
    display: flex;
    flex-direction: row;
}
.menu-item-group > .menu-item {
    flex: 1;
    justify-content: center;
}
.item-selection-menu {
    position: relative;
    z-index: 5;
}

.menu-element:not(:last-child) {
    border-bottom: 1px solid var(--border);
}

.menu-item-group {
    display: flex;
    flex-direction: row;
}
.menu-item-group > .menu-item {
    flex: 1;
    justify-content: center;
}
.submenu {
    padding: 6px;
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.submenu button {
    width: 100%;
    height: 32px;
}
.delete-confirm--text {
    font-size: 0.875rem;
    color: var(--error);
    margin-bottom: 8px;
    margin-top: 8px;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.add-task > h3,
.tasks-list > h3 {
    margin: 0;
    text-align: center;
}
.add-task {
    padding: 8px 16px;
}
.tasks-list {
    padding: 8px 16px;
    min-width: 300px;
}
.task-list--item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    > .img-container {
        flex: 1;
        max-width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        > img {
            width: 100%;
            height: auto;
        }
    }
    > .actions-container {
        flex: 0 0 32px;
        width: 32px !important;
        max-width: 32px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        > button {
            min-width: 32px !important;
            flex: 0 0 32px;
            width: 32px !important;
            max-width: 32px !important;
        }
    }
    > .responsibilities {
        margin-right: 8px;
        display: flex;
        gap: 4px;
        align-items: center;
    }
}
