<div class="item-context-container">
    <div
        class="menu-list"
        *ngIf="submenu == 'main'">
        <div
            class="add-note menu-item menu-element"
            (click)="changeSubmenu('add-note')">
            <ellipso-icon> {{ item.drawing ? 'edit_document' : 'note_add' }}</ellipso-icon>
            {{ item.drawing ? 'Edit' : 'Add' }} Instructions
        </div>
        <div class="menu-element menu-item-group task-menu-item">
            <div
                class="change-color menu-item"
                (click)="changeSubmenu('add-task')">
                <ellipso-icon>content_copy</ellipso-icon>
                Add Tasks
            </div>
            <div
                class="change-color menu-item"
                (click)="changeSubmenu('list-tasks')">
                List Tasks
            </div>
        </div>
        <div
            class="change-color menu-item menu-element"
            (click)="changeSubmenu('color-picker')">
            <ellipso-icon>palette</ellipso-icon>
            Change Color
        </div>
        <div
            class="change-color menu-item menu-element"
            (click)="onDuplicate()">
            <ellipso-icon>content_copy</ellipso-icon>
            Duplicate Object
        </div>
        <div
            class="change-color menu-item menu-element error"
            (click)="changeSubmenu('delete-confirm')">
            <ellipso-icon class="error">delete_forever</ellipso-icon>
            Delete
        </div>
    </div>

    <div
        class="delete-confirm submenu"
        *ngIf="submenu == 'delete-confirm'">
        <div class="delete-confirm--text">Are you sure you want to delete this item?</div>

        <div style="display: flex; gap: 4px">
            <button
                class="error"
                style="background-color: var(--error)"
                ellipso-ghost-button
                (click)="deleteItem()">
                <span style="color: var(--text-on-error)">Delete</span>
            </button>
            <button
                class=""
                ellipso-ghost-button
                (click)="closeMenu()">
                Cancel
            </button>
        </div>
    </div>

    <div
        class="color-picker submenu"
        *ngIf="submenu == 'color-picker'">
        <ellipso-color-picker
            [(color)]="color"
            [showAlpha]="false"
            [showPreview]="false"
            [small]="true" />
        <button
            class="color-picker--apply-button"
            ellipso-ghost-button
            (click)="applyColor()">
            Apply
        </button>
    </div>

    <div
        class="add-task submenu"
        *ngIf="submenu == 'add-task'">
        <h3>Add Task</h3>
        <div class="img-container">
            <app-draw-notes
                #drawingCanvas
                [size]="'small'"
                [drawing]="drawingObj.drawing" />
        </div>
        <button
            ellipso-ghost-button
            style="background-color: white"
            (click)="onAddResponsibility(drawingCanvas.serializeDrawing())">
            Set Responsibility
        </button>
        <button
            ellipso-ghost-button
            (click)="addTask(drawingCanvas.serializeDrawing())">
            Save
        </button>
    </div>
    <div
        class="set-responsibility submenu"
        *ngIf="submenu == 'add-task-responsibility'">
        <div style="position: absolute; left: 50%; top: 30%; transform: translateX(-50%) translateY(-50%)">
            <app-circle-menu
                [sections]="innerMenuSections"
                (sectionSelected)="selectResponsibility($event)"
                [numberOfSections]="4"
                [size]="180"
                [centerX]="90"
                [centerY]="90"
                [innerRadius]="20"
                [outerRadius]="88"></app-circle-menu>
            <div
                style="position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)">
                <button
                    (click)="submenu = 'add-task'"
                    ellipso-icon-button
                    style="
                        background: white;
                        border-radius: 50%;
                        transform: translateY(-2px);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                    ">
                    <ellipso-icon style="color: var(--success)">check</ellipso-icon>
                </button>
            </div>
        </div>
    </div>
    <div
        class="tasks-list submenu"
        *ngIf="submenu == 'list-tasks'">
        <h3>Tasks</h3>
        <div
            class="task-list--item"
            *ngFor="let task of item.tTasks">
            <div class="responsibilities">
                <ellipso-avatar
                    size="xsmall"
                    *ngFor="let responsibility of task.responsibility"
                    [avatarUrl]="responsibility.image" />
            </div>
            <div class="img-container">
                <img
                    [src]="task.image"
                    alt="Checkmark" />
            </div>
            <div class="actions-container">
                <button
                    ellipso-icon-button
                    (click)="removeTask(task)">
                    <ellipso-icon class="error">delete</ellipso-icon>
                </button>
            </div>
        </div>
        <button ellipso-ghost-button>Add Task</button>
    </div>
    <div
        class="add-note submenu"
        *ngIf="submenu == 'add-note'">
        <app-draw-notes
            #drawNotes
            [drawing]="item.drawing" />
        <button
            class="color-picker--apply-button"
            ellipso-ghost-button
            (click)="saveDrawing(drawNotes.serializeDrawing())">
            Save
        </button>
    </div>

    <button
        *ngIf="submenu != 'main' && submenu != 'add-task-responsibility'"
        class="back-button"
        ellipso-icon-button
        (click)="changeSubmenu('main')"
        title="Back">
        <ellipso-icon>arrow_back</ellipso-icon>
    </button>
    <button
        *ngIf="submenu != 'add-task-responsibility'"
        class="close-button"
        ellipso-icon-button
        (click)="closed.emit()"
        title="Close Menu">
        <ellipso-icon>close</ellipso-icon>
    </button>
</div>
