<div
    class="item-selection-menu"
    *ngIf="submenu === 'item-selection'">
    <div
        style="position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"
        *ngIf="this.isSubSectionSelected">
        <app-circle-menu
            [sections]="outerMenuSections"
            (sectionSelected)="selectItem($event)"
            [numberOfSections]="4"
            [size]="360"
            [centerX]="180"
            [centerY]="180"
            [innerRadius]="90"
            [outerRadius]="158"></app-circle-menu>
    </div>
    <div style="position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)">
        <app-circle-menu
            [sections]="innerMenuSections"
            (sectionSelected)="selectSection($event)"
            [numberOfSections]="4"
            [size]="180"
            [centerX]="90"
            [centerY]="90"
            [innerRadius]="20"
            [outerRadius]="88"></app-circle-menu>
    </div>
    <div style="position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)">
        <button
            (click)="selectSubmenu('main')"
            ellipso-icon-button
            style="
                background: white;
                border-radius: 50%;
                transform: translateY(-2px);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
            ">
            <ellipso-icon>arrow_back</ellipso-icon>
        </button>
    </div>
</div>
<div
    class="context-menu-container"
    [class.rotated]="menu.x < 600"
    *ngIf="submenu === 'tasks-list'">
    <div class="tasks-list submenu">
        <h3>Tasks</h3>
        <div
            class="task-list--item"
            *ngFor="let task of tTasks">
            <div class="responsibilities">
                <ellipso-avatar
                    size="xsmall"
                    *ngFor="let responsibility of task.responsibility"
                    [avatarUrl]="responsibility.image" />
            </div>
            <div class="img-container">
                <img
                    [src]="task.image"
                    alt="Checkmark" />
            </div>
            <div class="actions-container">
                <button
                    ellipso-icon-button
                    (click)="removeTask(task)">
                    <ellipso-icon class="error">delete</ellipso-icon>
                </button>
            </div>
        </div>
        <button
            style="position: absolute"
            class="back-button"
            ellipso-icon-button
            (click)="selectSubmenu('main')"
            title="Back">
            <ellipso-icon>arrow_back</ellipso-icon>
        </button>
        <button
            style="position: absolute"
            class="close-button"
            ellipso-icon-button
            (click)="closed.emit()"
            title="Close Menu">
            <ellipso-icon>close</ellipso-icon>
        </button>
    </div>
</div>
<div
    class="context-menu-container"
    [class.rotated]="menu.x < 600"
    *ngIf="submenu === 'main'">
    <div
        class="menu-list"
        *ngIf="submenu === 'main'">
        <div
            class="menu-element menu-item"
            (click)="selectSubmenu('item-selection')">
            <ellipso-icon>add</ellipso-icon>
            Add Object
        </div>
        <div class="menu-element menu-item-group task-menu-item">
            <div
                class="menu-item"
                (click)="onShowDrawCanvas()">
                <ellipso-icon>lock</ellipso-icon>
                Lock Items
            </div>
        </div>
        <div class="menu-element menu-item-group task-menu-item">
            <div
                class="menu-item"
                (click)="selectSubmenu('tasks-list')">
                <ellipso-icon>assignment</ellipso-icon>
                List Tasks
            </div>
        </div>

        <!--
        <div class="menu-element menu-item-group">
            <div class="menu-item">
                <ellipso-icon>stylus</ellipso-icon>
            </div>
            <div class="menu-item">
                <ellipso-icon>ink_eraser</ellipso-icon>
            </div>
            <div class="menu-item">
                <ellipso-icon>ink_highlighter</ellipso-icon>
            </div>
        </div>
        -->
        <div class="menu-element menu-item-group">
            <div class="menu-item">
                <ellipso-icon>undo</ellipso-icon>
            </div>
            <div class="menu-item">
                <ellipso-icon>redo</ellipso-icon>
            </div>
        </div>
    </div>
    <button
        class="close-button"
        ellipso-icon-button
        (click)="closed.emit()"
        title="Close Menu">
        <ellipso-icon>close</ellipso-icon>
    </button>
</div>
