<div class="context-menu-container" [ngStyle]="{
    'top.px': menu.y,
    'left.px': menu.x,
}">
    <div class="context-menu-row">
        <div class="context-menu-col">
            Add Object
        </div>
    </div>
    <div class="context-menu-row">
        <div class="context-menu-col">
            A
        </div>
        <div class="context-menu-col">
            B
        </div>
        <div class="context-menu-col">
            C
        </div>
    </div>
    <div class="context-menu-row">
        <div class="context-menu-col">
            Delete
        </div>
    </div>
</div>