<div
    class="item-selection-menu"
    *ngIf="submenu === 'item-selection'">
    <div
        style="position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"
        *ngIf="this.isSubSectionSelected">
        <app-circle-menu
            [sections]="outerMenuSections"
            (sectionSelected)="selectItem($event)"
            [numberOfSections]="4"
            [size]="320"
            [centerX]="160"
            [centerY]="160"
            [innerRadius]="80"
            [outerRadius]="158"></app-circle-menu>
    </div>
    <div style="position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)">
        <app-circle-menu
            [sections]="innerMenuSections"
            (sectionSelected)="selectSection($event)"
            [numberOfSections]="4"
            [size]="160"
            [centerX]="80"
            [centerY]="80"
            [innerRadius]="20"
            [outerRadius]="78"></app-circle-menu>
    </div>
    <div style="position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)">
        <button
            (click)="closeMenu($event)"
            ellipso-icon-button
            style="
                background: white;
                border-radius: 50%;
                transform: translateY(-2px);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
            ">
            <ellipso-icon>close</ellipso-icon>
        </button>
    </div>
</div>
<div
    class="context-menu-container"
    *ngIf="submenu === 'main'">
    <div
        class="menu-list"
        *ngIf="submenu === 'main'">
        <div
            class="menu-element menu-item"
            (click)="selectSubmenu('item-selection')">
            <ellipso-icon>add</ellipso-icon>
            Add Object
        </div>
        <div class="menu-element menu-item">
            <ellipso-icon>note_add</ellipso-icon>
            Add Note
        </div>
        <div class="menu-element menu-item">
            <ellipso-icon>group</ellipso-icon>
            Add Responsibility
        </div>
        <!--
        <div class="menu-element menu-item-group">
            <div class="menu-item">
                <ellipso-icon>stylus</ellipso-icon>
            </div>
            <div class="menu-item">
                <ellipso-icon>ink_eraser</ellipso-icon>
            </div>
            <div class="menu-item">
                <ellipso-icon>ink_highlighter</ellipso-icon>
            </div>
        </div>
        -->
        <div class="menu-element menu-item-group">
            <div class="menu-item">
                <ellipso-icon>undo</ellipso-icon>
            </div>
            <div class="menu-item">
                <ellipso-icon>redo</ellipso-icon>
            </div>
        </div>
    </div>
    <button
        class="close-button"
        ellipso-icon-button
        (click)="closed.emit()"
        title="Close Menu">
        <ellipso-icon>close</ellipso-icon>
    </button>
</div>
